/* Sample style sheet for boom!, the book microformat              */
/* written  by Hakon Wium Lie and Bert Bos, November 2005          */
/* You may reuse this style sheet for any purpose without any fees */


html { 
  margin: 0;
  font: 10pt/1.26 "Georgia", sans-serif;
  color: #000;
}

body { 
  margin: 2em 0 0.5em 3em;
  background-color: #FFF;
  line-height: 1em;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: "Arial", sans-serif;
  margin: 2em 0 0.5em 0;
  page-break-after: avoid;
} 